<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Banlist</title>
        <style>
            body {
                padding: 2em;
                background: #ddd;
            }
            h1 {
                text-align: center;
            }
            table {
                width: 100%;
            }
            table, th, td {
                text-align: left;
                font-weight: bold;
                padding: 0.25em;
                padding-left: 0.5em;
                border: 1px solid black;
                border-collapse: collapse;
            }
            thead th:nth-child(1), tbody td:nth-child(1) {
                text-align: center;
            }
            thead th {
                background: #aaa;
            }
            tbody tr:nth-child(odd) {
                background: #ddd;
            }
            tbody tr:nth-child(even) {
                background: #ccc;
            }
            tbody tr:hover {
                color: #ddd;
                background: #444;
            }
        </style>
    </head>
    <body>
        <h1>Banlist</h1>
        <table>
        <thead>
            <tr>
                <th> ID </th>
                <th> Server </th>
                <th> IP/Fingerprint </th>
                <th> Reason </th>
                <th> Set at </th>
                <th> Over at </th>
                <th> Time left </th>
                <th> Duration </th>
            </tr>
        </thead>
        <tbody>
            {% for ban in banlist -%}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ ban.hostName }} ({{ ban.hostIP }})</td>
                <td>{{ ban.bannedIP }}</td>
                <td>{{ ban.reason |strip_qstring }}</td>
                <td>{{ ban.bannedAt |date }}</td>
                <td>{{ ban.bannedUntil |date  }}</td>
                <td>{{ (ban.bannedUntil - now) |seconds_to_time }}</td>
                <td>{{ (ban.bannedUntil - ban.bannedAt) |seconds_to_time }}</td>
            </tr>
            {% endfor -%}
        </tbody>
        </table>
    </body>
</html>
